.header {
    width: 100%;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
  }
  
  .title {
    text-align: center
  }
  
  .score {
    text-align: center;
    padding: 10px;
  }
  